<div class="title">
    <h1>Tambah IKU</h1>
</div>
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nama IKU</label>
      <input type="text" class="form-control" id="nama_iku" aria-describedby="emailHelp">
      <div id="nama_iku" class="form-text">Isi dengan nama IKU</div>
    </div>
    <div class="mb-3">
      <label for="target_IKU" class="form-label">Target IKU</label>
      <input type="number" class="form-control" id="target_IKU" aria-describedby="emailHelp">
      <div id="target_IKU" class="form-text">Isi dengan target IKU(%)</div>
    </div>
    <div class="mb-3">
      <label for="kd_pemilik" class="form-label">Kode Pemilik</label>
      <input type="text" class="form-control" id="kd_pemilik" aria-describedby="emailHelp">
      <div id="kd_pemilik" class="form-text">Isi dengan kode pemilik</div>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>